.navbar {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;       
  align-items: center;
  background-color: white;
  padding: 0.5rem;   
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  z-index: 1000;     
}
.nav-wrapper {
  margin-top: 2px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-left {
  margin-left: 12em;  
  display: flex;
  align-items: center;
  gap: 0.1px;
}
.logo i {
  color: 	rgb(0, 119, 181);
  font-size: 37px;
  margin-right: 10px;
}
.search-bar {
  display: flex;
  height: 17px;
  align-items: center;
  background: rgb(240, 238, 238);
  padding: 10px 15px;   
  border-radius: 5px;
  width: 250px;         
}
.search-bar input {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
  background: rgb(240, 238, 238);
}
.nav-right {
  margin-right: 12em;  
  display: flex;
  align-items: center;
  gap: 40px;  
}
.nav-item {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  cursor: pointer;
  font-size: 12px;       
  color: rgb(85, 82, 82);
}
.nav-item i {
  font-size: 20px;        
}
.nav-item span {
  margin-top: 5px;       
}
.logout-btn {
  background-color: white;
  color: #0073b1;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}
.logout-btn:hover {
  background-color: lightgray;
}
.search-bar {
  width: 200px; 
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 5px 10px; 
  }
  .nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    display: flex;
    flex-wrap: nowrap; 
  }
  .nav-left {
    margin-left: 0; 
    display: flex;
    align-items: center;
  }
  .logo i {
    font-size: 30px; 
    margin-right: 5px;
  }
  .search-bar {
    display: none; 
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 25px; 
    margin-left: 20px; 
  }
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item span {
    display: none; 
  }
  .nav-item i {
    font-size: 18px; 
  }
  .logout-btn {
    font-size: 10px;
    padding: 4px 6px; 
    border-radius: 5px;
    background-color: #0073b1;
    color: white;
  }
  .logout-btn:hover {
    background-color: #005582;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .search-bar {
    width: 150px; 
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .nav-right {
    gap: 20px;
  }
  .nav-item span {
    display: none; 
  }
  .nav-left {
    margin-left: 4em;
  }
  .nav-right {
    margin-right: 4em;
  }
}
@media screen and (min-width: 1024px) {
  .search-bar {
    width: 180px; 
    margin-right: 20px;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .nav-right {
    gap: 40px;
  }
  .nav-item span {
    display: inline;
  }
  .nav-left {
    margin-left: 12em;
  }
  .nav-right {
    margin-right: 12em;
  }
}
