.navbar-fixed {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;       
    align-items: center;
    background-color: white;
    padding: 0.5rem;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    z-index: 1000;   
  }
  .nav-wrapper-fixed {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;  
    margin-right: 140px;
    margin-left: 140px;
  }
  .nav-left-fixed {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .logo-fixed i {
    color: rgb(0, 119, 181);
    font-size: 37px;
  }
  .search-container {
    display: flex;      
    gap: 10px;         
  }
  .search-bar-1, .search-bar-2 {
    display: flex;
    align-items: center;
    background: rgb(240, 238, 238);
    padding: 10px 15px;   
    border-radius: 5px;
    width: 200px;         
  }
  .search-bar-1 input, .search-bar-2 input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    background: rgb(240, 238, 238);  
  }
  .nav-right-fixed {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-item-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 12px;  
    color: rgb(85, 82, 82);
  }
  .nav-item-fixed i {
    font-size: 20px;  
  }
  .nav-item-fixed span {
    margin-top: 5px;  
  }
  .logout-btn-fixed {
    background-color: white;
    color: #0073b1;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
  }
  .logout-btn-fixed:hover {
    background-color: lightgray;
  }
@media screen and (max-width: 767px) {
  .nav-wrapper-fixed {
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-left: 24px;
    margin-right: 8px;
  }
  .search-container {
    flex-direction: row;
    gap: 5px;
    width: 65%;
    align-items: center;
  }
  .search-bar-1, .search-bar-2 {
    width: 30%;
    padding: 6px 6.5px; 
  }
  .search-bar-1 input, .search-bar-2 input {
    font-size: 12px; 
  }
  .nav-right-fixed {
    flex-wrap: rap;
    justify-content: center;
    gap: 16px;
  }
  .nav-item-fixed span {
    display: none; 
  }
  .nav-item-fixed i {
    font-size: 18px; 
  }
  .logout-btn-fixed {
    font-size: 12px;
    padding: 5px 8px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .nav-wrapper-fixed {
    padding: 0 20px;
    margin: 0;
  }
  .search-container {
    width: auto;
    margin-right: 10px;
  }
  .search-bar-1, .search-bar-2 {
    width: 78px; 
    height: 15px;
    padding: 8px 12px;
  }
  .search-bar-1 input, .search-bar-2 input {
    font-size: 13px; 
  }
  .nav-right-fixed {
    gap: 21px;
  }
  .nav-item-fixed i {
    font-size: 18px;
  }
  .nav-item-fixed span {
    font-size: 11px;
  }
  .logout-btn-fixed {
    font-size: 14px;
    padding: 6px 10px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-wrapper-fixed {
    padding: 0 50px;
    margin-left: 50px;
    margin-right: 100px;
  }
  .search-container {
    width: auto;
    height: 40px;
  }
  .search-bar-1, .search-bar-2 {
    width: 155px;
    padding: 10px 15px;
  }
  .nav-right-fixed {
    margin-left: 12px;
    gap: 30px;
  }
  .nav-item-fixed i {
    font-size: 20px;
  }
  .nav-item-fixed span {
    font-size: 10px;
  }
  .logout-btn-fixed {
    font-size: 15px;
    padding: 8px 12px;
  }
}
